.container-inicio {
  position: relative;
  font-family: "Zilla Slab", serif;
}

.bienvenida {
  background-color: black;
  font-family: "Zilla Slab", serif;
  color: white;
  position: absolute;
  bottom: 500px;
  right: 200px;
  left: 200px;
  font-size: 30px;
  text-align: center;
  margin: 30px;
}

.bienvenida a {
  color: white;
  text-decoration: none;
}

.bienvenida a:hover {
  font-family: "Zilla Slab", serif;
  color: black;
  text-decoration: none;
  background-color: pink;
}

.bienvenida p {
  font-family: "Shippori Mincho", serif;
}

#sobre-nosotros {
  margin-bottom: 30px;
  max-width: 1200px;
  margin: auto;
}

#sobre-nosotros h1 {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  font-family: "Zilla Slab", serif;
  margin-bottom: 10px;
}

#sobre-nosotros p {
  font-size: 20px;
  text-align: justify;
  line-height: 40px;
  margin-top: 10px;
  font-family: "Shippori Mincho", serif;
}

.indent1 {
  margin-left: 100px;
}

.indent2 {
  margin-left: 150px;
}

.indent3 {
  margin-left: 200px;
}

.indent4 {
  margin-left: 250px;
}

.indent5 {
  margin-left: 300px;
}

.indent6 {
  margin-left: 350px;
}

.indent7 {
  margin-left: 400px;
  margin-bottom: 80px;
}

#nuestros-servicios {
  border-bottom-style: groove;
  border-bottom-color: white;
  border-bottom-width: 1px;
  border-top-style: groove;
  border-top-color: white;
  border-top-width: 1px;
}

#nuestros-servicios h2 {
  margin: 35px 0 35px 0;
  text-align: center;
  font-family: "Zilla Slab", serif;
}

.nuestros-servicios-grid-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 30px 0;
}

.nuestros-servicios-sub-grid-container1 {
  display: grid;
  border-radius: 20px;
  border: 1px solid white;
  grid-template-columns: 600px;
  grid-template-rows: auto auto;
  margin: 0 5px 0 0;
}

.nuestros-servicios-sub-grid-container2 {
  display: grid;
  border-radius: 20px;
  border: 1px solid white;
  grid-template-columns: 600px;
  grid-template-rows: auto auto;
  margin: 0 0 0 0;
}

.nuestros-servicios-sub-grid-container1 ul {
  margin: 10px 0 0 50px;
  font-family: "Shippori Mincho", serif;
  font-size: 20px;
  line-height: 40px;
}

.nuestros-servicios-sub-grid-container1 h2 {
  font-family: "Zilla Slab", serif;
  text-align: center;
}

.nuestros-servicios-sub-grid-container2 ul {
  margin: 10px 0 0 50px;
  font-family: "Shippori Mincho", serif;
  font-size: 20px;
  line-height: 40px;
}

#nuestros-servicios ul li {
  font-size: 20px;
  line-height: 40px;
  font-family: "Shippori Mincho", serif;
}

#nuestra-filosofia {
  border-bottom-style: groove;
  border-bottom-color: white;
  border-bottom-width: 1px;
  font-family: "Zilla Slab", serif;
}

#nuestra-filosofia h2 {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

#nuestra-filosofia p {
  font-size: 20px;
  text-align: justify;
  line-height: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Shippori Mincho", serif;
}

.filo-container {
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
}

#opiniones {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-top: 30px;
}

#opiniones h5 {
  font-family: "Zilla Slab", serif;
}

#opiniones p {
  font-family: "Shippori Mincho", serif;
}

#opiniones {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
}

#opiniones img {
  width: 100%;
}

#contacto {
  border-bottom-style: groove;
  border-bottom-color: white;
  border-bottom-width: 1px;
  border-top-style: groove;
  border-top-color: white;
  border-top-width: 1px;
}

#contacto p {
  font-family: "Shippori Mincho", serif;
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
  margin-top: 30px;
}

.contact-form {
  color: black;
  font-family: "Zilla Slab", serif;
  background-color: white;
  border: 1px solid thistle;
  border-radius: 3px;
  width: 97%;
  margin: 0 0 30px 0;
  padding: 15px;
}

.form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type=text],
.form-row input[type=email] {
  background-color: pink;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  width: 99%;
  padding: 7px;
}

.form-row label {
  margin: 15px 0;
}

.form-row textarea {
  width: 99%;
  height: 50px;
  padding: 5px;
  background-color: pink;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  margin-bottom: 15px;
  font-family: "Zilla Slab", serif;
}

.form-row button {
  font-size: 16px;
  font-weight: bold;
  color: whitesmoke;
  background-color: thistle;
  border: none;
  cursor: pointer;
  width: 80px;
  height: 30px;
  padding: 10px;
}

.form-row .button1:hover {
  transform: rotateY(360deg);
  transition-duration: 5s;
}

.heading {
  background-color: pink;
  color: black;
  padding: 15px 0 15px 0;
  font-size: 30px;
  font-family: "Zilla Slab", serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

body {
  background-color: black;
  color: white;
}

footer p {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 15px;
  color: white;
  font-family: "Shippori Mincho", serif;
}

ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  color: white;
}

.font-color {
  color: white;
}

nav {
  color: white;
}

.navigation {
  font-family: "Zilla Slab", serif;
  color: white;
}

/*# sourceMappingURL=style.css.map */
